services:
  ansible:
    build:
      context: .
      dockerfile: Dockerfile.ansible
    container_name: ansible
    networks:
      bridge_net:

  lb1:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: lb1
    networks:
      bridge_net:
    ports: 
      - 80:80
    cap_add:
    - NET_ADMIN

  lb2:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: lb2
    networks:
      bridge_net:
    cap_add: 
    - NET_ADMIN

  backend1:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: backend1
    networks:
      bridge_net:

  backend2:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: backend2
    networks:
      bridge_net:

  grafana:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: grafana
    networks:
      bridge_net:
    ports: 
      - 3000:3000

  victoria-metrics:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: victoria-metrics
    networks:
      bridge_net:
    ports:
      - 8428:8428

networks:
  bridge_net:
    driver: bridge