scrape_configs:

  - job_name: nginx
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['lbs'] %}
        - {{ host }}:80
{% endfor %}

  - job_name: node
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - {{ host }}:9100
{% endfor %}

  - job_name: keepalived
    static_configs:
      - targets:
{% for host in groups['lbs'] %}
        - {{ host }}:9165
{% endfor %}
