vrrp_script check_nginx {
  script "pidof nginx"
  interval 2
  weight 2
}

vrrp_instance VI_1 {
  interface {{ ansible_facts.default_ipv4.interface }}
  state {{ 'MASTER' if inventory_hostname == groups['lbs'][0] else 'BACKUP' }}
  virtual_router_id 51
  priority {{ 101 if inventory_hostname == groups['lbs'][0] else 100 }}

  virtual_ipaddress {
    {{ VIP }}/24
  }

  track_script {
    check_nginx
  }
}
