- name: Show VIP
  hosts: localhost
  connection: local
  become: true

  tasks:
    - name: Calculate VIP
      set_fact:
        VIP: "{{ ansible_default_ipv4.address.split('.')[:2] | join('.') }}.{{ vip_last_octets }}"

    - name: Show VIP
      ansible.builtin.debug:
        var: VIP